.patient-profile-container {
  max-width: 100%;
  margin: 5rem auto;
}
.profile-card {
  padding: 1rem;
  height: 50% ;
}
.profile-tabs {
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid #c9d2e6;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background: white;    
  z-index: 1000;        
  padding: 1rem 2rem;   
}
.profile-tabs-left button {
  margin-right: 1rem;
}
.profile-tabs-right {
  display: flex;
  align-items: center;
}
.profile-tabs button {
  background: none;
  border: none;
  font-size: 1.1em;
  padding: 0.5em 1.2em;
  color: #254891;
  border-radius: 12px 12px 0 0;
  cursor: pointer;
  transition: background 0.2s;
}
.profile-tabs button.active {
  background: #e1eafc;
  color: #182d59;
  border-bottom: 2px solid #4173c3;
}
.monitoring-chart-btn {
  background: #1976d2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.7em 1.5em;
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(25, 118, 210, 0.15);
  transition: background 0.2s;
}
.monitoring-chart-btn:hover {
  background: #1565c0;
}
.profile-tab-content {
  margin-top: 1em;
}
.tab-form {
  padding: 1.5em 0.5em 0.5em 0.5em;
}
.tab-form-actions {
  display: flex;
  gap: 1.5em;
  position: sticky;
  bottom: 0;
  margin-top: 1.5em;
}
.form-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 32px;
  margin-bottom: 20px;
}
@media (max-width: 700px) {
  .form-grid2 {
    grid-template-columns: 1fr;
  }
}